<!-- notices -->
<%= render "notice" %>

<!-- locale links -->
<%= render "locale_links" %>

<!-- welcome the user -->
<p> <%= t "home.intro" %> </p> <hr>

<!-- product description -->
<p> <%= simple_format t "home.description" %> </p> <hr>

<!-- signup -->
<%= render "signup" %>

<!-- login-->
<%= render "login" %>
