<%= render "notice" %>    
<%= render "locale_links" %>

<p> <%= t "home.intro" %> </p> <hr>

<p> <%= t "home.description" %> </p> <hr>

<%= render "login" %>
<%= render "signup" %>

<br> <p> <%= t "home.note" %> </p>
