<!-- log out -->
<% if logged_in? %>
  <%= link_to "Log Out", logout_path, class: "pull-right" %> <br>
<% end %>

<!-- Language Options -->
<div class="languages_page">
  <h4>Choose vocabulary set ro revise? </h4>
  <h5> German-English / English-German </h5>
  <%= image_tag "german.svg" %>
  
  <h5> French-English / English-French </h5>
  <%= image_tag "french.svg" %>
  
  <h5> Italian-English / English-Italian </h5>
  <%= image_tag "italian.svg" %>
  
  <h5> Spanish-English / English-Spanish </h5>
  <%= image_tag "spanish.svg" %>
</div>