<% if logged_in? %>
  <%= link_to "Log out", logout_path, class: "pull-right" %> <br>
<% end %>

<% if notice %>
  <div class="pull-right"> <%= notice %> </div>
<% end %>

<h2 id="word"> 
  <span id="english"> <%= @word.english %> </span> 
  <span id="german"> <%= @word.german %> </span> 
</h2>

<div class="btn-group">
  <%= link_to "reveal meaning of word", "#", onclick: "reveal('german','english');", class: "btn btn-lg btn-success" %>
  <%= link_to "next -->", learning_path, class: "btn btn-lg btn-primary" %> <br> <br> <br>
  * if you click next without revealing the word, we assume <br> you know the word and it won't crop up again.
</div>
