<!-- head links -->
<% if logged_in? %>
  <%= link_to "Log out", logout_path, class: "pull-right" %> <br>
<% end %>

<% if notice %>
  <div class="pull-right"> <%= notice %> </div>
<% end %>

<!-- central content -->
<h2 class="word"> 
  <span id="english"> <%= @word.english %> </span> 
  <span id="german"> <%= @word.german %> </span> 
</h2>

<div class="buttons">
  <%= link_to "vokabel aufdecken", "#", onclick: "reveal('german','english');", class: "btn btn-lg btn-success" %>
  <%= link_to "weiter -->", learning_path, class: "btn btn-lg btn-primary" %>
</div>

<div id="text">
  *Vokabeln die vor dem Weitergehen nicht aufgedeckt werden, <br> werden in Zukunft nicht nochmals abgefragt werden.
</div>


<br> <br> <%= session[:words] if Rails.env.development? %>