<!-- header links -->
<% if logged_in? %>
  <%= link_to "Language swop", reverse_language_path, remote: true, class: "pull-left" %>
  <%= link_to "Log Out", logout_path, class: "pull-right" %> <br>
<% end %>

<!-- notices -->
<% if notice %>
  <div class="pull-right"> <%= notice %> </div>
<% end %>

<!-- vocabulary -->
<h2 class="word"> 
  <span id="gamification"> 0 </span>
  <span id="default_show"> <%= @word.english %> </span> 
  <span id="default_non_show"> <%= @word.german %> </span>
</h2>

<!-- buttons -->
<div class="buttons">
  <%= link_to "reveal meaning of word", "#", onclick: "reveal('default_non_show','default_show');", class: "btn btn-lg btn-success" %>
  <%= link_to "next -->", learning_path(current_word: @word.english), remote: true, class: "btn btn-lg btn-primary" %> <br> <br>
</div>
