<!DOCTYPE html>
<html>
<head>
  <title>Langapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <%= link_to "Log out", logout_path %> <br>
  <% end %>

  <% if notice %>
    <%= notice %> <br>
  <% end %>

  <%= yield %>
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html>


<!--
  - hack the basics of learning interface.
  - try some basics with ajax and testing
  - edit, edit, edit
  - deploy
  - readme, thin etc.
  - think of how expansion of app, baustellen may be accomplished.
-->
