<!DOCTYPE html>
<html>
<head>
  <title>Langapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= notice %> <br>
<%= yield %>

  <%= debug(params) %>

</body>
</html>

<!-- 
  fastest way to V1:
  - 1. find 350 most common words and seed them to db
  - 2. Hack basic layout of learning page and add the relevant buttons with their functionality
  - 4. deploy

  - edit
  - finish a version, then edit
  - do one syste from ground up once more
  - thin through components in head. give some though to it.
-->


