<!DOCTYPE html>
<html>
<head>
  <title>Langapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Log out", logout_path if logged_in? %> <br>
  <%= notice %> <br>
  <%= yield %>
  <%= debug(params) %>

</body>
</html>


<!--
  - find 350 most common English words and put the in db seed
  - hack the basics of learning interface.
  - try some basics with ajax and testing
  - edit, edit, edit
  - deploy
  - readme, thin etc.
  - think of how expansion of app, baustellen may be accomplished.
-->
